<div class="imagebox">
  <div class="imagebox-inner">
    <div class="imagebox-text">
      <div class="title">
        {{ feature.label }}
      </div>
      <div class="subtitle">
        <a href="{{feature.url}}" target="_blank" rel="noopener">{{ feature.url }}</a>
      </div>
      <p class="description">
        {{ feature.description }}
      </p>
      <div class="tags">
        <span class="label">tags</span>
        {% for dev-tag in feature.dev-tags %}
          <span class="tag">#{{ dev-tag.tag }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="imagebox-footer">
      <a href="{{ feature.url }}" target="_blank" rel="noopener">Visit Site</a>
      <div class="clear"></div>
    </div>
  </div>
</div>
