<!-- widget css -->
<link rel="stylesheet" href="/widgets/twitter-banner/twitter-banner.css" />

<!-- widget html -->
<div class="twitter-banner" data-social-banner>
  <div class="text">
    <div class="container">
      <div class="caption" data-social-banner-caption></div>
      <div class="byline">
        <span data-social-banner-date></span>
      </div>
    </div>
  </div>
  <div class="container twitter-byline-container">
    <a href="https://twitter.com/arkmuntasser" target="_blank">
      <span class="icon-twitter"></span><span class="username">@arkmuntasser</span>
    </a>
  </div>
</div>

<!-- widget scripts -->
<script src="/widgets/twitter-banner/tabletop.js"></script>
<script src="/widgets/twitter-banner/twitter-banner.js"></script>
