<!-- widget css -->
<noscript id="deferred-styles">
  <link rel="stylesheet" href="/widgets/twitter-banner/twitter-banner.css?v={{ site.version }}" />
</noscript>

<noscript>
  <link rel="stylesheet" href="/widgets/twitter-banner/twitter-banner-noscript.css?v={{ site.version }}" />
</noscript>

<!-- widget html -->
<div class="twitter-banner" data-social-banner>
  <div class="text">
    <div class="container">
      <div class="caption" data-social-banner-caption>I was at a freak show. They had a pair of siamese elephants... they were connected at the trunk&hellip;</div>
      <div class="byline">
        <span data-social-banner-date>Follow me on Twitter</span>
      </div>
    </div>
  </div>
  <div class="container twitter-byline-container">
    <a href="https://twitter.com/arkmuntasser" target="_blank" rel="noopener">
      <span class="icon-twitter"></span><span class="username">@arkmuntasser</span>
    </a>
  </div>
</div>

<!-- widget scripts -->
<script>{% include widgets/twitter-banner/tabletop.js %}</script>
<script>{% include widgets/twitter-banner/twitter-banner.js %}</script>
