---
layout: default
---

{% include widgets/twitter-banner/twitter-banner.html %}

<div class="blog-wrapper">
  <div class="container">
    <div class="section">
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h5>What's the word, Johannesburg?</h5>
        <p class="lead">
          {{ site.description }}
        </p>
        <p>
          I'm Amir. I'm a CMS Production Lead Developer at <a href="http://simpleviewinc.com" target="_blank" title="Simpleview">Simpleview</a>. I build websites for the tourism industry; in fact two of my sites were in the <a href="https://skift.com/2016/07/13/the-25-best-tourism-websites-in-the-world-in-2016/" target="_blank" title="The 25 Best Tourism Websites in the World in 2016">top 25 tourism websites of 2016</a> which was pretty damn cool. Check them out when you've got a free moment: <a href="http://visitnorway.com" target="_blank" title="Visit Norway">Visit Norway</a> and <a href="http://experiencecolumbus.com" target="_blank" title="Experience Columbus">Experience Columbus</a>.
        </p>
        <p>
          When I'm not building websites, I am usually chillin' with my homies and my main man, The Monarch. Which is totally not code for just playing video games with my fiancée, 😉.
        </p>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-8 col-lg-8">
        {% include widgets/blog/blog-list.html %}
      </div>
    </div>
  </div>
</div>

<div class="websites">
  {% include widgets/slider/slider.html %}

  <div class="featured-row">
    <div class="fluid-container">
      <div class="section">
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h5>Experience</h5>

          <h6>Simpleview, Inc.</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>

          <h6>Freelance</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>

          <h6>Rooster Teeth Productions, LLC.</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>

          <h6>SWS Electronics, Corp.</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-8 col-lg-8">
          {% include widgets/featured/featured-row.html %}
        </div>
      </div>
    </div>
  </div>
</div>
