---
layout: default
---

{% include widgets/twitter-banner/twitter-banner.html %}

<div class="projects-wrapper">
  <div class="container">
    <div class="section">
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h5>What's the word, Johannesburg?</h5>
        <p class="lead">
          {{ site.description }}
        </p>
        <p>
          I'm Amir. I'm a CMS Production Lead Developer at <a href="http://simpleviewinc.com" target="_blank" title="Simpleview" rel="noopener">Simpleview</a>. I build websites for the tourism industry; in fact two of my sites were in the <a href="https://skift.com/2016/07/13/the-25-best-tourism-websites-in-the-world-in-2016/" target="_blank" title="The 25 Best Tourism Websites in the World in 2016" rel="noopener">top 25 tourism websites of 2016</a> which was pretty damn cool. Check them out when you've got a free moment: <a href="http://visitnorway.com" target="_blank" title="Visit Norway" rel="noopener">Visit Norway</a> and <a href="http://experiencecolumbus.com" target="_blank" title="Experience Columbus" rel="noopener">Experience Columbus</a>.
        </p>
        <p>
          When I'm not building websites, I am usually chillin' with my homies and my main man, The Monarch. Which is totally not code for just playing video games with my fiancée, 😉.
        </p>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-8 col-lg-8">


        {% include widgets/projects/project-list.html %}
      </div>
    </div>
  </div>
</div>

<div class="blog-wrapper">
  <div class="container">
    {% include widgets/blog/blog-3-up.html %}
  </div>
</div>

<div class="websites">
  {% include widgets/slider/slider.html %}

  <div class="featured-row">
    <div class="fluid-container">
      <div class="section">
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h5>Experience</h5>

          <h6>Simpleview, Inc.</h6>
          <p>
            This is my current gig. Simpleview is the market leader in digital solutions for the tourism industry. I lead a production team, we're the ones who build the websites. I created our code style guide and present on topics such as performant web animations and progressive enhancement.
          </p>

          <h6>Rooster Teeth Productions, LLC.</h6>
          <p>
            I was contracted to work on their redesign. I worked on some backend code to handle user profile updates and show/season routes. The site was built on the LAMP stack using Laravel.
          </p>

          <h6>SWS Electronics, Corp.</h6>
          <p>
            I was brought on board to finish development of their website. I ended up doing a complete responsive redesign. The site is built on top of the Magento CMS and estore.
          </p>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-8 col-lg-8">
          {% include widgets/featured/featured-row.html %}
        </div>
      </div>
    </div>
  </div>
</div>
