.masthead {
  position: relative;
  background-color: #fff;
}

.masthead h1 {
  margin: 0;
  padding: 8px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.masthead h1 a {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
}

.masthead h1 .logo {
  width: auto;
  height: 56px;
  vertical-align: middle;
}

.footer {
  padding: 384px 0 64px 0;
  background-color: #101010;
}

.footer .container { max-width: 1440px; }

.footer .sign-off {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  line-height: 36px;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
}

.footer .sign-off img { max-width: 80%; }

.footer .social-links ul { text-align: right; }
.footer .social-links ul a { font-size: 28px; }

.websites { padding-bottom: 48px; }

.projects-wrapper { margin-bottom: 32px; }

.blog-wrapper {
  padding: 32px 0;
  background-color: #fff;
}

.sitemap li { margin-bottom: 16px; }
