<!-- widget css -->
<noscript id="deferred-styles">
  <link rel="stylesheet" href="{{ site.baseurl }}/widgets/blog/blog-list.css?v={{ site.version }}" />
</noscript>

<!-- widget html -->
<h4>Recent Projects <span class="blinking-cursor">|</span></h4>
<div class="blog-list posts">
  <ul class="no-bullets">
    {% for project in site.projects limit:3 %}
      <li>
        {% include widgets/projects/project-item.html %}
      </li>
    {% endfor %}
  </ul>
  <div class="blog-list-footer">
    <a class="btn" href="{{ site.baseurl }}/projects">See More Projects</a>
  </div>
</div>
