<!-- widget css -->
<link rel="stylesheet" href="/widgets/slider/slider.css" />

<!-- widget html -->
<div class="slider">
  <div class="section">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="item norway">
        <div class="section">
          <div class="col col-xs-12 col-sm-12 col-md-6">
            <div class="item-image">
              <img class="img-lg" src="{{ site.baseurl }}/assets/images/slider/norway.jpg" alt="Innovation Norway" />
              <img class="img-md" src="{{ site.baseurl }}/assets/images/slider/norway-md.jpg" alt="Innovation Norway" />
            </div>
          </div>
          <div class="col col-xs-12 col-sm-12 col-md-6">
            <div class="item-text">
              <div class="title">Innovation Norway</div>
              <div class="subtitle">
                <a href="http://www.visitnorway.com" target="_blank">www.visitnorway.com</a>
              </div>
              <p class="description">
                Plan your holiday in Norway with free guides and videos. Learn about fjords, northern lights, midnight sun, where to stay, walking, fishing and more.
              </p>
              <a class="btn btn-block btn-inverse" href="http://www.visitnorway.com" target="_blank">View Site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="item denver">
        <div class="section">
          <div class="col col-xs-12 col-sm-12 col-md-6">
            <div class="item-image">
              <img class="img-lg" src="{{ site.baseurl }}/assets/images/slider/denver.jpg" alt="Visit Denver" />
              <img class="img-md" src="{{ site.baseurl }}/assets/images/slider/denver-md.jpg" alt="Visit Denver" />
            </div>
          </div>
          <div class="col col-xs-12 col-sm-12 col-md-6">
            <div class="item-text">
              <div class="title">Visit Denver</div>
              <div class="subtitle">
                <a href="http://www.denver.org" target="_blank">www.denver.org</a>
              </div>
              <p class="description">
                Denver's Convention & Visitors Bureau invites you to explore things to do, hotels, restaurants & more in Denver. Download our Denver Visitors Guide!
              </p>
              <a class="btn btn-block btn-inverse" href="http://www.denver.org" target="_blank">View Site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="item kansas">
        <div class="section">
          <div class="col col-xs-12 col-sm-12 col-md-6">
            <div class="item-image">
              <img class="img-lg" src="{{ site.baseurl }}/assets/images/slider/kansas.jpg" alt="Travel Kansas" />
              <img class="img-md" src="{{ site.baseurl }}/assets/images/slider/kansas-md.jpg" alt="Travel Kansas" />
            </div>
          </div>
          <div class="col col-xs-12 col-sm-12 col-md-6">
            <div class="item-text">
              <div class="title">Travel Kansas</div>
              <div class="subtitle">
                <a href="http://www.travelks.com" target="_blank">www.travelks.com</a>
              </div>
              <p class="description">
                Get All of the Info You Need, From Dining, Shopping, Hotels, Camping, Attractions & Things to Do. We Have What You're Looking For. Visit Today!
              </p>
              <a class="btn btn-block btn-inverse" href="http://www.travelks.com" target="_blank">View Site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
