.imagebox {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #fefefe;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .1);
  background-color: #fff;
}

.imagebox .imagebox-text {
  padding: 24px;
}

.imagebox .imagebox-footer {
  padding: 16px 24px;
  border-top: 1px solid #ddd;
}

.imagebox .title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}

.imagebox .subtitle a {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.imagebox .tags {
  margin-bottom: 16px;
  width: 100%;
}

.imagebox .tags .label {
  display: block;
  margin-right: 4px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.6;
}

.imagebox .tags .tag {
  margin-right: 4px;
  font-style: italic;
  color: #4CAF50;
}
