<!DOCTYPE html>
<html lang="en-us" {% if page.title %}itemscope itemtype="http://schema.org/Article"{% endif %}>
  <head>
    {% include meta.html %}

    <link href="public/ico/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400|Work+Sans:400,700" rel="stylesheet">

    <!-- Icons -->
    <link href="{{ site.baseurl }}/fontello.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Styles -->
    <link href="{{ site.baseurl }}/style.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/svmenu.css" rel="stylesheet">

    <!-- Critical Styles -->
    <style>
      {% include critical-styles.css %}
    </style>
  </head>
  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include js.html %}
  </body>
</html>
