---
layout: default
---

<div class="container">
  <article class="post">
    <div class="posts-header">
      <h1>{{ page.title }}</h1>
      <p class="lead">{{ page.excerpt }}</p>
    </div>

    <div class="section">
      <div class="col col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="entry">
          {{ content }}
        </div>

        <div class="tags">
          {% for tag in page.tags %}
            <span class="tag">#{{ tag }}</span>
          {% endfor %}
        </div>

        <div class="date subtitle">Written on {{ page.date | date: "%B %e, %Y" }}</div>
      </div>

      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {% if page.images %}
          <div class="section posts-gallery">
            {% for image in page.images %}
              <div class="col col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <img src="{{ image }}" />
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.music %}
          {% for music in page.music %}
            <h5>#NowPlaying</h5>
            <div class="now-playing">
              <div class="music">
                <div class="now-playing-text">
                  <div class="title">{{ music.title }}</div>
                  <div class="subtitle">{{ music.artist }}</div>
                </div>
                <div class="now-playing-footer">
                  <a href="{{ music.link }}" target="_blank" title="{{ music.title }} YouTube link" rel="noopener">Play Song - YouTube</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </article>
</div>
