<!-- widget css -->
<noscript id="deferred-styles">
  <link href="{{ site.baseurl }}/widgets/nav/svmenu.css?v={{ site.version }}" rel="stylesheet">
</noscript>
<noscript>
  <link href="{{ site.baseurl }}/widgets/nav/svmenu-noscript.css?v={{ site.version }}" rel="stylesheet">
</noscript>

<!-- widget html -->
<input class="nav-noscript-control" id="nav-noscript-control" type="checkbox" />
<aside class="svmenu" data-svmenu>
  <nav class="svmenu-inner" data-svmenu-inner>
    <div class="svmenu-close-container">
      <button class="svmenu-close material-icons" data-svmenu-close>close</button>
    </div>
    <div class="svmenu-content">
      <ul class="svmenu-content-inner">
        {% assign publishedPages = site.pages | where: 'show', 'true' %}
        {% for page in publishedPages %}
          <li class="svmenu-item"><div class="svmenu-item-inner"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></div></li>
        {% endfor %}
        <li class="svmenu-item"><div class="svmenu-item-inner"><a href="http://twitter.com/arkmuntasser" target="_blank" title="Amir's Twitter" rel="noopener">Twitter</a></div></li>
        <li class="svmenu-item"><div class="svmenu-item-inner"><a href="http://github.com/arkmuntasser" target="_blank" title="Amir's GitHub profile" rel="noopener">GitHub</a></div></li>
      </ul>
    </div>
  </nav>
</aside>

<!-- widget scripts -->
<script>{% include widgets/nav/svmenu.js %}</script>
